<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ALAPJ34 - Page d'acceuil {% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/images/logoAlapaj34.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block navBar %}
        <nav class="bg-[#222249] px-2 sm:px-4 py-2.5 dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600 mb-5">

            <div class="container flex flex-wrap items-center justify-between mx-auto" >
                <a href="{{ path('app_home') }}" class="flex items-center">

                    <img src="{{ asset('assets/images/logoAlapaj34.png') }}" class="h-6 mr-3 sm:h-9" alt="Flowbite Logo">
                    <span class="self-center text-xl font-semibold whitespace-nowrap text-stone-50">ALAPJ34</span>
                </a>
                <div class="flex md:order-2 space-x-5">
                    <button type="button" class="text-white  hover:border-b-4 border-[#EF5B00]  focus:outline-none  font-medium rounded-lg text-sm px-5 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Se connecter
                    </button>
                    <button type="button" class="text-white bg-[#EF5B00] hover:text-[#EF5B00] hover:bg-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        S'inscrire
                    </button>
                    <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 text-sm text-white rounded-lg md:hidden  focus:outline-none focus:ring-2 focus:ring-[#EF5B00] dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>
                <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                    <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0">
                        <li>
                            <a href="#" class="block py-2 pl-3 pr-4 text-white lg:text-white hover:border-b-4  border-[#EF5B00] rounded md:bg-transparent md:dark:text-white md:p-0 dark:text-white dark:hover:bg-white dark:hover:text-[#EF5B00]" aria-current="page">
                                Evènements
                            </a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 pl-3 pr-4 text-white lg:text-white hover:border-b-4  border-[#EF5B00] rounded md:bg-transparent md:dark:text-white md:p-0 dark:text-white dark:hover:bg-white dark:hover:text-[#EF5B00]" aria-current="page">
                                A propos
                            </a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 pl-3 pr-4 text-white lg:text-white hover:border-b-4 border-[#EF5B00] rounded md:bg-transparent md:dark:text-white md:p-0 dark:text-white dark:hover:bg-white dark:hover:text-[#EF5B00]">
                                Contact
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block body %}

    {% endblock %}
    </body>
</html>
